
h1,
h2,
h3,
h4,
h5,
h6{
    font-family:'Helvetica Neue','Open Sans',Helvetica,Arial,sans-serif;
    font-weight:400;
}

ul,li{
  margin: 0;
  padding:0;
}


body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  font-family: "Avenir Next", "Avenir", sans-serif;
}

ul#long_menu{
  background: gray;
  z-index: 3;
}

ul#long_menu li{
  display: inline-block;
  width: 15%;
}
#menuToggle
{
  display: none;
  position: absolute;
  top: 19px;
  left: 34px;
  z-index: 100;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #d6d4d4;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 250px;
  margin: -100px 0 0 -50px;
  padding-left: 50px;
  padding-top: 100px;
  padding-bottom: 30px;
  background: #ffffff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 16px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}




#my_picture{
    margin: auto auto;
    width: 5%;
    border-radius: 100px;
}




.intro-header .page-heading{
    text-align: center;
	color:#fff
}



#right_bar{
    position: absolute;
    top:19px;
    right: 34px;
    z-index: 100;
    font-size: 22px;
    color:#d6d4d4;
    font-weight: bold;
}

h1{
    font-size: 30px;
}

.right-main-box{
  display: inline-block;
  width: 60%;
}

li{
  list-style-type: none;
}

aside.empty_box{
  display: inline-block;
  padding-top: 10%;
  padding-bottom: 10%;
  width: 17%;
}
aside.left-main-box {
  z-index: 3;
  vertical-align: top;
  position: fixed;
  top:100px;
  border-right: 1px #d5d7de solid;
  height: 500px;
}

aside.left-main-box ul{
  margin: auto;
  padding :initial
}

.left-main-box li{
  padding : 10px 10px;
  margin: 4px 4px;
}

.left-main-box a{
  font-size: 14px;
  text-decoration: none;
  color: black;
}
.left-main-box span.active{
  width: 0;
  height: 0;
  border-left: solid 3px gray;
  margin-right:10px;
}

.left-main-box a:hover{
  width: 0;
  height: 0;
  border-left: solid 3px gray;
  padding-left:10px;
  color: tomato;
}

.left-main-box a.active{
  color:tomato;
  border-left: none;
  padding-left: 0px;

}

.right-main-box{
  
  display: inline-block;
  position: relative;
  left:17%;
  min-height: 500px;
}

footer{
  text-align: center;
  background-color: rgb(175, 170, 170);
}

@media screen and (max-width :600px){
  aside.left-main-box{
    display: none;
  }
  aside.left-main-box>ul{
    display: none;
  }
  .right-main-box{
    border-left: none;
  }
  #type_for_big{
    display: none;
  }
}

@media screen and (max-height : 500px){
  header{
    padding:0;
    background-image: none;
  }
  #type_for_big{
    display: none;
  }
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}